.btn {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  height: fit-content;

  font-family: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  transition: all 0.2s ease;
}

.disabled-btn {
  background-color: #f1f1f5;
  color: #505050;
}

.active-btn {
  background-color: #4200ff;
  color: #fff;
}

.line-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
