.footer {
  width: 100%;
  background-color: #111;
}

.footer-container {
  max-width: 1320px;
  height: 220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}

.footer-info {
  color: #999999;
  font-size: 14px;
}

.footer-copyright {
  color: #767676;
  font-size: 12px;
}

.divider {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #767676;
}
