.about-bg {
  background-color: #111;
}

.about-container {
  max-width: var(--layout-width);
  padding: 4rem 2rem;
  margin: 0 auto;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.about-intro {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  opacity: 0;
  transform: translateX(-5rem);
  transition: opacity 0.3s, transform 0.3s;
}

.about-img {
  flex: 1;
  max-width: 51rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(5rem);
  transition: opacity 0.3s, transform 0.3s;
}

.about-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.about-intro h1 {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-display2);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  color: #505050;
}

.about-intro h2 {
  font-size: var(--font-size-title);
  font-weight: 200;
}

.about-intro strong {
  font-weight: 500;
}

.about-intro p {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.7;
  color: #999;
}

.about-intro button {
  text-align: left;
  width: fit-content;
  height: fit-content;
}

.fade-in-left {
  animation: fadeInLeft 700ms ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 700ms ease-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .about-img {
    display: none;
  }
}
